body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
}

img {
  max-width: 100%;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 4rem;

  position: absolute;
  margin-left: 5rem;
  bottom: 50%;
}

h2 {
  font-size: 3rem;
  color: #2DA8D8;

  margin-bottom: 0.25rem;
}

h3 {
  font-size: 2rem;
  color: #2DA8D8;

  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  color: #2DA8D8;

  margin-bottom: 0.75rem;
  margin-top: 1rem;
}

a {
  color: #2DA8D8;
}

fieldset {
  margin-bottom: 1.2rem;
}

legend {
  font-size: 2rem;
  color: #2DA8D8;
  
  margin-bottom: 1.5rem;
}

section h2 {
  margin-bottom: 1.25rem;
}

header {
  height: auto;

  position: relative;
  margin-bottom: 3rem;

  color: white;
}

nav {
  position: absolute;
  right: 0;
  bottom: 5rem;
}

main {
  margin-bottom: 3rem;
}

strong {
  font-weight: bold;
}

article {
  position: relative;
}

article p {
  max-width: 70%;

  margin-bottom: 0.5rem;
}

article > ul {
  list-style-type: circle;
  list-style-position: inside;

  padding: 1rem;
}

article > ol {
  list-style-type: lower-alpha;
  list-style-position: inside;

  padding: 1rem
}

article aside{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  width: 20%;

  padding: 2rem;
  background-color: #F8F8F8;
}

aside h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;

  color: #2DA8D8;
}

aside li {
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
}

label {
  margin-bottom: 0.2rem;
}

input, button {
  display: block;
}

input, textarea, form div {
  margin-bottom: 1rem;
}

input[type=checkbox] {
  display: inline;
}

h1 span {
  font-size: 2rem;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

header a {
  color: white;
  text-decoration: none;
  
  font-size: 1.5rem;
}

header img {
  width: 100%;
}

header form {
  width: fit-content;

  margin-top: 0.5rem;

  position: absolute;
  right: 1rem;
}

main > * {
  background-color: white;

  width: 60%;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;

  padding: 2rem;
}

footer img {
  width: 100%;
  height: auto;
}

.logout {
  color: white;

  position: absolute;
  right:1rem;
  top: 0.5rem;
}

.date {
  margin-bottom: 1.5rem;
}